* {
    text-decoration: none;
}

.navbar {
    background: #555555;
    font-family: "instrument sans";
    padding-right: 15px;
    padding-left: 15px;
    font-size: 40px;
    margin: -15px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    padding: 10px;
}

li {
    list-style: none;
    display: inline-block
}

li a {
    color: white;
    margin-right: 25px;
}

a:hover {
    color: red;
}

a {
    transition: color 0.3s ease;
}
.login, .signup {
    color: white;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.login {
    background-color: #229BCC;
}

.signup {
    background-color: #6379F4;
}

.login a, .signup a {
    color: white;
    font-size: 40px;
}

.banner div {
    background-image: url(/image_sources/banner.jpg);  
    font-family: "instrument sans";
    margin-top: -85px;
    margin-left: -10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -10px;
}

.banner h1 {
    color: #00FF2F;
    -webkit-text-stroke: 0.3px black; /* Outline: 3px green */
    text-align: center;
    font-size: 120px;
    margin-bottom:0px;
}

.descriptions {
    margin-top: 40px;
}

.description_left, .description_right {
    display:block;
    background-color:#AAAAAA;
    margin-top:24px;
    margin-bottom:24px;
    width: 80%;
    height:200px;
    display: flex;
}

.description_left {
    margin-left: 0px;
    margin-right: auto;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}

.description_left img {
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}

.description_right{
    margin-left: auto;
    margin-right: 0px;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
}

.description_right img {
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
}

.text {
    font-family:"instrument sans";
    margin-left:16px;
}

.photo {
    height:200px;
    width:auto;
}