* {
    background-color: #F5F9FF;
    font-family: "Instrument Sans";
    font-size: 24px;
    text-align: center;
}

.deepseekwelcometext {
    display: flex;
    align-items: center;
    justify-content: left;
}

.usertext {
    display: flex;
    align-items: center;
    justify-content: right;
}
.deepseekimg {
    height: 56px;
    width: 56px;
    background-color: #FFFFFF;
    border-radius: 28px;
    border: 1px solid rgba(37, 150, 190,70%);
    object-fit: contain;
}

.chatbox {
    border-radius: 20px;
    border: transparent;
    height: auto;
    margin-bottom: 24px;
    align-items: left;
    display: flex;
    justify-content: left;
}

.chatbox_parent {
    height:402px;
    padding:0px;
    margin-top:0px;
    margin-bottom:16px;
    overflow-y: auto;
}

.user_inputbox {
    width: 629px;
    height: 56px;
    border-radius: 20px;
    background-color: #EEEEEE;
    text-align:left;
}

.sendButton {
    width: 56px;
    padding: 16px;
    border-radius: 28px;
    height:56px;
    background-image: url("/image_sources/submit.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* or cover, depending on your needs */
    border-color: transparent;
}

.user_input {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.homeBtn {
    background-color: #229BCC;
    color: white;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    height:56px;
    margin-top: 8px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 32px;
    font-size:60px;
    font-weight:900px;
}

.message {
    text-align:left;
    border: 1.3px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-left: 8px;
    margin-bottom:0px;
}